/************* COLORS *************/

$lightblue: #0095da;
$blue: #005b9e;
$darkblue: #00305c;

$white: #ffffff;
$walter-white: #f5f5f5;
$lightgray: #bbbfbf;
$gray: #8a8a8a;

$lightblack: #444444;
$black: #1e1e1e;
$darkblack: #121212;

$yellow: #faa731;
