@import "colors";

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        width: 100%;
        height: 0.1rem;
        background-color: $lightgray;
    }

    h1 {
        width: 100%;
        max-width: 18rem;
        color: $blue;
        font-size: 1.8rem;
        text-align: center;
    }
}

.card-news {
    width: 100%;
    max-width: 30.5rem;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 25%);
    border-radius: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease 0s;

    &:hover {
        transform: scale(1.1);

        .title-news {
            color: $blue;
        }
    }

    .img-news {
        max-width: 30.5rem;
    }

    .title-news {
        text-align: center;
        padding: 1rem 0.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: $black;
    }
}
